src/main/resources/xsd/operaciones.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.idat.edu.pe/ws/operaciones"
    targetNamespace="http://www.idat.edu.pe/ws/operaciones"
    elementFormDefault="qualified">
    <!-- Mensaje de petici贸n -->
    <xs:element name="getSumaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="num1" type="xs:int" />
                <xs:element name="num2" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Mensaje de respuesta -->
    <xs:element name="getSumaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Mensaje de petici贸n -->
    <xs:element name="getRestaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="num1" type="xs:int" />
                <xs:element name="num2" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Mensaje de respuesta -->
    <xs:element name="getRestaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Mensaje de petici贸n -->
    <xs:element name="getMultiplicaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="num1" type="xs:int" />
                <xs:element name="num2" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Mensaje de respuesta -->
    <xs:element name="getMultiplicaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Mensaje de petici贸n -->
    <xs:element name="getDivideRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="num1" type="xs:int" />
                <xs:element name="num2" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Mensaje de respuesta -->
    <xs:element name="getDivideResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>